#paidopai{
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    width:40vw;
    right: 30%;
    height:100vh; 
    transform: translateY(-1%);
}
#cabeçalho{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
#cabeçalho-direita{
    height: 100%;
    width: 74%;
    display: flex;
    flex-direction: column;
}
#cabeçalho-sub-direita{
    height:50%;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}
#palavras{
    height:50%;
    width:100%;
    font-size: 90%;
}
#palavras ul{
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style: none;
    justify-content:right;
    transform: translateY(66%);
}
#logo{
    height: 100%;
    width: 26%;
}
#logo img{
    height: 70%;
    width: 90%;
}

#meio{
    font-family:Arial, Helvetica, sans-serif;
    top:11%;
    height:40%;
    width:100%;
    position:absolute;
}
#esquerda{
    position:absolute;
    height: 70%;
    width: 24%;  
}
#cima-esquerda{ 
    position: absolute;
    height: 22%;
    width:100%;
    background-color: rgb(211, 209, 209);
    display:flex;  
}
#searchBox{
    width: 80%;
    height: 70%;
}
#search{
    width: 10%;
    height: 70%;
    transform: translateY(25%);
}
#labe{
    transform: translate(2%,16%);
    height: 50%;
    width: 100%;
}
#interativo{
    margin-left:2%;
    width: 100%;
    height: 50%;
}
#baixo-esquerda{
    top:25%;
    position:absolute;
    height: 80%;
    width: 100%;
}
#maior{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgb(211, 209, 209);
}
#menor{
    font-size: 72%;
    left:1%;
    top:10%;
    position: absolute;
    height:75%;
    width:98%; 
}
#depart{
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
    left:3%;
}

#menor ul{
    position: absolute;
    text-align: left;
    list-style: none;  
    transform: translatex(-40px);
    width: 100%;
    height:100%;
}
#menor ul li{
    width: 100%;
    height: 17%;
    background-color: white;
    outline-color: rgb(211, 209, 209);
    outline-style: solid;
    outline-width: 1px;
}
#menor ul li p{
    width: 100%;
    transform: translate(4%,-50%);
    position: absolute;    
}
#direita{
    position: absolute;
    right: 0px;
    width: 75%;
    height: 100%;  
}
#direita img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#ultimo-quad{
    top: 52%;
    position: absolute;
    display:flex;
    height: 40%;
    width: 100%;
}
#novidades{
    background-color:lightcoral;
    position: absolute;
    width: 49.5%;
    height:100%
}
#mais-vendidos{
    background-color:lightseagreen;
    position: absolute;
    width: 49.5%;
    height:100%;
    right: 0%;
}
.nov{
    height: 8%;
    background-color: lightsteelblue;
}
.nov p{
    position: absolute;
    height: 10%;
    left: 0%;
    top: -2%;
}

td{
    position: absolute;
    background-color: azure;
    height: 36%;
    width: 30%;
    padding: 0%;
}
.a{
    right: 67%;
}
.b{
    right: 35%;
}
.c{
    right: 3%;
}
.d
{
    bottom: 15%;
    right: 67%;
}
.e{
    bottom: 15%;
    right: 35%;
}
.f{
    bottom: 15%;
    right: 3%;

}
.g{
    width:7%;
    height: 7%;
    bottom: 2%;
    right:  3%;
    font-size: 80%;
}
.g img{
    transform:translateY(10%);
    position: absolute;
}
#ultimo-quad p{
    position: absolute;
    bottom: -10%;
    font-size: 80%;
    transform: translateX(20%);
}
#novidades img{
    position :absolute;
    height: 70%;
    width: 100%;
}
#mais-vendidos img{
    position :absolute;
    height: 70%;
    width: 100%;
}