#paidopai{
    font-family:Arial, Helvetica, sans-serif;
    top: 0%;
    position:absolute;
    width:40%;
    right: 30%;
    height:100%;   
}
#cabeçalho{  
    list-style: none; 
    position:absolute;
    width:100%;
    height:10%; 
    right:0px;
    top:0px;
}
#logo{
    height:73%;
    width: 24%;
    position: absolute;
    left:0px;
}
#sacola{
    position:absolute;
    display:flex;
    top:0px;
    right:0px;
    justify-content:right;
}
#palavras {
    width:70%;
    display:flex;
    position:absolute;
    right:0%;
    bottom:0px;
    justify-content: space-around;
    font-size: 80%;
}
#meio{
    font-family:Arial, Helvetica, sans-serif;
    top:11%;
    height:40%;
    width:100%;
    position:absolute;
}
#esquerda{
    position:absolute;
    height: 70%;
    width: 24%;  
}
#cima-esquerda{ 
    position: absolute;
    height: 18%;
    width:100%;
    background-color: rgb(211, 209, 209);
    display:flex;  
}
#baixo-esquerda{
    top:20%;
    position:absolute;
    height: 80%;
    width: 100%;
}
#maior{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgb(211, 209, 209);
}
#menor{
    font-size: 72%;
    left:1%;
    top:10%;
    position: absolute;
    height:75%;
    width:98%; 
}
#depart{
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
    left:3%;
}
#busca{
    left:3%;
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
}
#pesquisar{
    left:6px;
    bottom:5px;
    position: absolute;
    width:70%;
    height:24%;
    background-color: white;
    outline-color: rgb(182, 181, 181);
    outline-style: solid;
    outline-width: 2px;
}
#lupa{
    position:absolute;
    height: 20px;
    width: 20px;
    bottom:2px;
    right: 12px;
}
#menor ul{
    position: absolute;
    text-align: left;
    list-style: none;  
    transform: translatex(-40px);
    width: 100%;
    height:100%;
}
#menor ul li{
    width: 100%;
    height: 17%;
    background-color: white;
    outline-color: rgb(211, 209, 209);
    outline-style: solid;
    outline-width: 1px;
}
#menor ul li p{
    width: 100%;
    transform: translate(4%,-50%);
    position: absolute;    
}
#direita{
    position: absolute;
    right: 0px;
    width: 75%;
    height: 100%;  
}
#direita img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#ultimo-quad{
    top: 52%;
    position: absolute;
    display:flex;
    height: 40%;
    width: 100%;
}
#novidades{
    background-color:lightcoral;
    position: absolute;
    width: 49.5%;
    height:100%
}
#mais-vendidos{
    background-color:lightseagreen;
    position: absolute;
    width: 49.5%;
    height:100%;
    right: 0%;
}
.nov{
    height: 8%;
    background-color: lightsteelblue;
}
.nov p{
    position: absolute;
    height: 10%;
    left: 0%;
    top: -2%;
}

td{
    position: absolute;
    background-color: azure;
    height: 36%;
    width: 30%;
    padding: 0%;
}
.a{
    right: 67%;
}
.b{
    right: 35%;
}
.c{
    right: 3%;
}
.d
{
    bottom: 15%;
    right: 67%;
}
.e{
    bottom: 15%;
    right: 35%;
}
.f{
    bottom: 15%;
    right: 3%;

}
.g{
    width:7%;
    height: 7%;
    bottom: 2%;
    right:  3%;
    font-size: 80%;
}
.g img{
    transform:translateY(10%);
    position: absolute;
}
#ultimo-quad p{
    position: absolute;
    bottom: -10%;
    font-size: 80%;
    transform: translateX(20%);
}
#novidades img{
    position :absolute;
    height: 70%;
    width: 100%;
}
#mais-vendidos img{
    position :absolute;
    height: 70%;
    width: 100%;
}