
body{
    height: 100%;
    width: 100%;
    margin: 0%;
}
#paidopai{
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    width:40vw;
    right: 30%;
    height:100vh; 
}
#cabeçalho{
    position: absolute;
    height: 10%;
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
#cabeçalho-direita{
    height: 100%;
    width: 74%;
    display: flex;
    flex-direction: column;
}
#cabeçalho-sub-direita{
    height:50%;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}
#palavras{
    height:50%;
    width:100%;
    font-size: 90%;
}
#palavras ul{
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style: none;
    justify-content:right;
    transform: translateY(66%);
}
#logo{
    height: 100%;
    width: 26%;
}
#logo img{
    height: 75%;
    width: 90%;
}

#meio{
    font-family:Arial, Helvetica, sans-serif;
    top:11%;
    height:37%;
    width:100%;
    position:absolute;
}
#esquerda{
    position:absolute;
    height: 70%;
    width: 24%;  
}
#cima-esquerda{ 
    position: absolute;
    height: 22%;
    width:100%;
    background-color: rgb(211, 209, 209);
    display:flex;  
}
#searchBox{
    width: 80%;
    height: 70%;
}
#search{
    width: 10%;
    height: 70%;
    transform: translateY(25%);
}
#labe{
    transform: translate(2%,16%);
    height: 50%;
    width: 100%;
}
#interativo{
    margin-left:2%;
    width: 100%;
    height: 50%;
}
#baixo-esquerda{
    top:25%;
    position:absolute;
    height: 80%;
    width: 100%;
}
#maior{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgb(211, 209, 209);
}
#menor{
    font-size: 72%;
    left:1%;
    top:10%;
    position: absolute;
    height:75%;
    width:98%; 
}
#depart{
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
    left:3%;
}

#menor ul{
    position: absolute;
    text-align: left;
    list-style: none;  
    transform: translatex(-40px);
    width: 100%;
    height:100%;
}
#menor ul li{
    width: 100%;
    height: 17%;
    background-color: white;
    outline-color: rgb(211, 209, 209);
    outline-style: solid;
    outline-width: 1px;
}
#menor ul li p{
    width: 100%;
    transform: translate(4%,-50%);
    position: absolute;    
}
#direita{
    position: absolute;
    right: 0px;
    width: 75%;
    height: 100%;  
}
#direita img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#ultimo-quad{
    top: 49%;
    position: absolute;
    height: 40%;
    width: 100%;
}
#ultimo-quad span{
    margin-top:3%;
    margin-left: 10%;
}
#novidades{
    display: flex;
    flex-direction:column;
    background-image: linear-gradient(to bottom, rgb(141, 221, 130) , rgb(57, 102, 45));
    position: absolute;
    width: 49.5%;
    height:100%
}
#novidades img{
    margin: 5%;
    height: 85%;
    width: 92%;
}
#mais-vendidos img{
    margin: 5%;
    height: 85%;
    width: 92%;
}
#mais-vendidos{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(141, 221, 130) , rgb(57, 102, 45));
    position: absolute;
    width: 49.5%;
    height:100%;
    right: 0px;
}

.ret1{
    justify-content: center;
    width: 100%;
    height:46%;
    display: flex;
    flex-direction:row;
}
.ret2{
    width: 100%;
    height:46%;
    display: flex;
    flex-direction:row;
}

.g{
    gap: 10px;
    flex-direction:row;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 45%;
    font-size: 80%;
}
.g span{
    transform: translateY(-4px);
}
footer{
    position: absolute;
    background-color: rgb(160, 182, 150);
    width: 100vw;
    height: 10vh;
    bottom: 0%;
}
footer div{
    border: rgb(66, 100, 66);
    border-style: solid;
    border-width: 3px;
    outline:rgb(100, 136, 100);
    outline-style: solid;
    outline-width: 3px;
    position: absolute;
    top: 15%;
    right: 30%;
    background-color: white;
    height: 40px;
    width:130px;
}
footer img{
    height: 40px;
    width: 40px;
}
