
#sobre{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    top:0%;
    position:absolute;
    width: 40%;
    height: 1090px;
    right: 30%;
}
header{
   height: 80px;
   width: 100%;
}
header img{
    position:relative;
    width:24%;
    height:55px;
}
#a{
    position: absolute;
    height: 500px;
    width: 100%;
    font-size: 70%;
}
#mirror{
    position: absolute;
    background-color: rgb(170, 170, 170);
    height: 35px;
    font-size: 22px;
    width: 98%;
    right: 1%;
}
#mirror p{   
    transform: translate(1%,-70%)
}
#texta{
    position: absolute;
    width: 86%;
    right: 7%;
    top: 10%; 
}
#textb{
    position: absolute;
    width: 86%;
    right: 7%;
    top:21%;
}
#caixa{
    background-color: rgb(226, 226, 226);
    width: 86%;
    right: 7%;
    height: 55%;
    position: absolute;
    top: 30%;
    outline: rgb(211, 211, 211);
    outline-style:solid;
}
#caixa img{ 
    position: absolute;
    height:84%;
    width: 74%;
    top:5%;
    right:15%;
}
#caixatext{
    position: absolute;
    bottom: 0%;
    right: 30%;
}
#textc{
    position: absolute;
    width: 86%;
    right: 7%;
    bottom: 6%;
}
#b{
    top: 570px;
    height: 330px;
    width: 100%;
    position: absolute;
    font-size: 70%;
}
#hist{
    position: absolute;
    height: 35px;
    font-size: 22px;
    width: 98%;
    right: 1%;  
    outline: rgb(170, 170, 170); 
    outline-style: solid;
    outline-width: 3px;
}
#hist p{
    transform: translate(1%,-70%)
}
#texto2{
    width: 55%;
    height: 270px;
    position: absolute;
    top: 55px;
    left: 7%;
    display: flex;
    flex-direction:column;
    gap: 10px;
}

#caixa2{
    right: 1%;
    position: absolute;
    height: 240px;
    width: 36%;
    background-color: rgb(226, 226, 226);
    outline: rgb(211, 211, 211);
    outline-style:solid;
    top: 58px;
}
#caixa2 img{ 
    position: absolute;
    height: 74%;
    width: 94%;
    top:2%;
    right:2%;
}
#Família{
    bottom: 5%;
    position: absolute;
    right: 34%;
}
#c{
    top: 880px;
    height: 150px;
    width: 100%;
    position: absolute;
    font-size: 70%;
}
#diferenciais{
    position: absolute;
    height: 35px;
    font-size: 22px;
    width: 98%;
    right: 1%;  
    outline: rgb(170, 170, 170); 
    outline-style: solid;
    outline-width: 3px;
}
#diferenciais p{
    transform: translate(1%,-70%);
}
#lista{
    position: absolute;
    width: 100%;
    top:38px;
    display: flex;
    flex-direction:column;
    gap: 3px;
}
footer{
    position: absolute;
    height: 70px;
    width: 99%;
    background-color: white;
    bottom:-50%;
}
footer img{
    position: absolute;
    height: 40px;
    width: 90px;
    right:64%;
}




  