
body{
    background-color: rgba(106, 140, 143, 0.897);
}
#sobre{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    top:0%;
    position:absolute;
    width: 40%;
    height: 130%;
    right: 30%;
}
header{
   height: 10%;
   width: 100%;
}
header img{
    position:relative;
    width:25%;
    height:70;
}
#a{
    position: absolute;
    height: 500px;
    width: 100%;
    font-size: 70%;
}
#mirror{
    position: absolute;
    background-color: rgb(170, 170, 170);
    height: 6%;
    font-size: 200%;
    width: 98%;
    right: 1%;
}
#mirror p{   
    transform: translate(1%,-60%)
}
#texta{
    position: absolute;
    width: 86%;
    right: 7%;
    top: 10%; 
}
#textb{
    position: absolute;
    width: 86%;
    right: 7%;
    top:21%;
}
#caixa{
    background-color: rgb(226, 226, 226);
    width: 86%;
    right: 7%;
    height: 55%;
    position: absolute;
    top: 30%;
    outline: rgb(211, 211, 211);
    outline-style:solid;
}
#caixa img{ 
    position: absolute;
    height:84%;
    width: 74%;
    top:5%;
    right:15%;
}
#caixatext{
    position: absolute;
    bottom: 0%;
    right: 30%;
}
#textc{
    position: absolute;
    width: 86%;
    right: 7%;
    bottom: 6%;
}

  