
#palavras {
    width:70%;
    display:flex;
    position:absolute;
    right:0%;
    bottom:0px;
    justify-content: space-around;

}

#sacola{
    position:absolute;
    display:flex;
    top:0px;
    right:0px;
    justify-content:right;
}

#cabeçalho{  
    
    list-style: none; 
    position:absolute;
    width:100%;
    height:10%; 
    right:0px;
    top:0px;
}

#paidopai{
    top: 0%;
    position:absolute;
    width:40%;
    right: 30%;
    height:100%;   
}
#logo{
    height:73%;
    width: 24%;
    position: absolute;
    left:0px;
}
#meio{
    top:11%;
    height:40%;
    width:100%;
    position:absolute;
}
#direita{
    position: absolute;
    right: 0px;
    width: 75%;
    height: 100%;  
}
#direita img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#esquerda{
    position:absolute;
    height: 70%;
    width: 23%;  
}
#cima-esquerda{  
    position: absolute;
    height: 18%;
    width:100%;
    background-color: rgb(211, 209, 209)
}
#baixo-esquerda{
    top:20%;
    position:absolute;
    height: 80%;
    width: 100%;
}
#maior{
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgb(211, 209, 209);
}
#menor{
    font-size: 72%;
    left:1%;
    top:10%;
    position: absolute;
    height:75%;
    width:98%; 
}
#depart{
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
    left:3%;
}
#busca{
    left:3%;
    transform: translatey(-50%);    
    position: absolute;
    top: 0px;
    font-size: 90%;
}
#lupa{
    position:absolute;
    right:0px;
    height: 38px;
    width: 38px;
}
#menor ul{
    list-style: none;  
}
#blusas{
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}
#calcas{
    top:26%;
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}
#vestidos{
    top:43%;
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}
#sapatos{
    top:60%;
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}
#bolsas{
    top:77%;
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}
#acessorios{
    top: 94%;
    position: absolute;
    transform: translatex(-29%);
    width: 100%;
    height: 15%;
    background-color: white;
}